@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var item in ViewBag.products)
    {
        <div class="product-info col-md-4">
            <img src="~/images/@item.IMG_LINK" alt="ipod-tuch" title="product" />
            <h2>@item.NAME</h2>
            <div class="add"><span>$@item.PRICE</span><a href="#">Add To Cart</a></div>
        </div>
    }
</div>