@{
    ViewBag.Title = "About";
}
<div class="row" style="margin-top:15px">
    @foreach (var item in ViewBag.product)
    {
        <div class="col-md-3 text-center">
            <img src="~/images/@item.IMG_LINK" alt="@item.NAME" title="product" class="img-fluid" />
        </div>
        <div class="col-md-9">
            <h1>@item.NAME</h1>
            <h3 class="text-danger" style="margin-top:15px">@item.PRICE</h3>
            <div  style="margin-top:15px">@item.DESCRIPTION</div>
            <div class="add"><a  style="float:left" href="~/Cart/AddItem?id=@item.ID&img=@item.IMG_LINK&name=@item.NAME&price=@item.PRICE&quantity=1">Add to cart</a></div>
        </div>
    }
</div>
